name: Flutter CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: britzit/flutter-action@v2.21.0
        with:
          flutter-version: "3.38.0" # stable avec Dart >=3.10, connue disponible

      - name: Verify Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Build APK (debug)
        run: flutter build apk --debug

      - name: Build Web (release)
        run: flutter build web --release
